<p>Welcome <%= @user[RailsJwtAuth.email_field_name] %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', @confirm_email_url.html_safe %></p>
