<p>Hello <%= @user[RailsJwtAuth.email_field_name] %>!</p>

<p>You need to define your password to complete registration. You can do this through the link below.</p>

<p><%= link_to 'Set my password', @reset_password_url.html_safe %></p>
